@media (max-width: 767px) {
    .ourBeggin {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 15px auto;
        text-align: justify;

    }

    .ourBeggin__Img {
        height: 100%;
        width: 100%;
    }

    .ourBeggin__Text {
        font-size: 25px;
    }
}

@media (min-width: 768px) {
    .contenedorIndex {
        flex-direction: row;
    }

    .contenedorIndex__Contenidos {
        border-bottom: none;
        border-right: 1px solid #ddbea9;
        padding: 25px 25px;
    }

    .contenedorIndex__Contenidos:last-child {
        border-right: none;
    }

    .video-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;
        margin: auto;
    }

    .about {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 90%;
        margin: auto;
        min-height: 10vh;
        font-family: 'Poppins', sans-serif;
        font-size: 25px;
        font-weight: 200;
        text-align: center;
        letter-spacing: 1.5px;
        line-height: 35px;
    }

    .individual-videos {
        max-width: 768px;
    }

    .individual-videos:last-child {
        border-bottom: none;

    }

    .containerClasses {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1px solid black;
        background-color: #f8edeb;
        min-height: 10vh;
        border-radius: 10px;
        margin: 15px auto;
        padding: 10px 25px;
        width: 90%;
        max-width: 1100px;
        text-align: center;
    }

    .containerClasses__Level {
        border-bottom: none;
        padding: 25px 25px;
        width: 100%;
    }

    .containerClasses__Img {
        height: 250px;
        width: fit-content;
    }

    .containerClasses__Heading {
        font-weight: 700;
        font-size: 90%;
    }

    .containerClasses__Texto {
        width: 100%;
        margin: 10px 0 20px;
        color: #8a5a44;
        letter-spacing: 1px;
        text-align: justify;
        font-size: 90%;
    }
}

@media (min-width: 480px) and (max-width: 767px) {
    .containerClasses {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1px solid black;
        background-color: #f8edeb;
        min-height: 10vh;
        border-radius: 10px;
        margin: 15px auto;
        padding: 10px 25px;
        width: 95%;
        max-width: 1100px;
        text-align: center;
        box-sizing: border-box;
    }

    .containerClasses__Level {
        border-bottom: none;
        padding: 25px 25px;
    }

    .containerClasses__Img {
        height: 200px;
        width: 200px;
    }

    .containerClasses__Heading {
        font-weight: 550;
        font-size: 90%;
    }

    .containerClasses__Texto {
        width: 100%;
        margin: 10px 0 20px;
        color: #8a5a44;
        letter-spacing: 1px;
        text-align: center;
        font-size: 90%;
    }
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
    .galeria__Grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .img1 {
        grid-column: 1/2;
        grid-row: 1/3;
        background-image: url(../multimedia/jadeJoni.jpg);
        background-size: cover;
        background-position: center;
    }

    .img2 {
        grid-column: 2/3;
        grid-row: 1/2;
        background-color: crimson;
        background-image: url("../multimedia/banderaDupla.jpg");
        background-size: cover;
        background-position: top;
    }

    .img3 {
        grid-column: 1/3;
        grid-row: 3/4;
        background-color: darkgrey;
        background-image: url("../multimedia/floorworkCompe.jpg");
        background-size: cover;
        background-position: center;

    }

    .img4 {
        grid-column: 2/3;
        grid-row: 2/3;
        background-image: url("../multimedia/ourtrick.jpg");
        background-size: cover;
        background-position: center;
    }

    .img5 {
        grid-column: 1/2;
        grid-row: 4/5;
        background-image: url("../multimedia/floorworkChina.jpg");
        background-size: cover;
        background-position: center;
    }

    .img6 {
        grid-column: 2/3;
        grid-row: 4/5;
        background-image: url("../multimedia/primerCompe.jpg");
        background-size: cover;
        background-position: center;
    }

    .img7 {
        grid-column: 1/2;
        grid-row: 5/6;
        background-image: url("../multimedia/poleChina.jpg");
        background-size: cover;
        background-position: top;
    }

    .img8 {
        grid-column: 2/3;
        grid-row: 5/6;
        background-image: url("../multimedia/duplaEspania.jpg");
        background-size: cover;
        background-position: center;
    }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .galeria__Grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .img1 {
        grid-column: 1/2;
        grid-row: 1/3;
        background-image: url(../multimedia/jadeJoni.jpg);
        background-size: cover;
        background-position: center;
    }

    .img2 {
        grid-column: 2/3;
        grid-row: 1/3;
        background-color: crimson;
        background-image: url("../multimedia/banderaDupla.jpg");
        background-size: cover;
        background-position: top;
    }

    .img3 {
        grid-column: 1/3;
        grid-row: 3/4;
        background-color: darkgrey;
        background-image: url("../multimedia/floorworkCompe.jpg");
        background-size: cover;
        background-position: center;

    }

    .img4 {
        grid-column: 3/4;
        grid-row: 1/3;
        background-image: url("../multimedia/ourtrick.jpg");
        background-size: cover;
        background-position: center;
    }

    .img5 {
        grid-column: 3/4;
        grid-row: 3/5;
        background-image: url("../multimedia/floorworkChina.jpg");
        background-size: cover;
        background-position: center;
    }

    .img6 {
        grid-column: 1/2;
        grid-row: 4/6;
        background-image: url("../multimedia/primerCompe.jpg");
        background-size: cover;
        background-position: top;
    }

    .img7 {
        grid-column: 2/3;
        grid-row: 4/6;
        background-image: url("../multimedia/poleChina.jpg");
        background-size: cover;
        background-position: top;
    }

    .img8 {
        grid-column: 3/4;
        grid-row: 5/6;
        background-image: url("../multimedia/duplaEspania.jpg");
        background-size: cover;
        background-position: center;
    }
}

@media only screen and (min-width: 768px) {
    .galeria__Grid {
        grid-template-columns: repeat(4, 1fr);
    }

    .img1 {
        grid-column: 1/2;
        grid-row: 1/2;
        background-image: url(../multimedia/jadeJoni.jpg);
        background-size: cover;
        background-position: center;
    }

    .img2 {
        grid-column: 2/3;
        grid-row: 1/2;
        background-color: crimson;
        background-image: url("../multimedia/banderaDupla.jpg");
        background-size: cover;
        background-position: center;
    }

    .img3 {
        grid-column: 3/5;
        grid-row: 1/2;
        background-color: darkgrey;
        background-image: url("../multimedia/floorworkCompe.jpg");
        background-size: cover;
        background-position: center;
    }

    .img4 {
        grid-column: 1/2;
        grid-row: 2/4;
        background-image: url("../multimedia/ourtrick.jpg");
        background-size: cover;
        background-position: center;
    }

    .img5 {
        grid-column: 2/3;
        grid-row: 2/3;
        background-image: url("../multimedia/floorworkChina.jpg");
        background-size: cover;
        background-position: center;
    }

    .img6 {
        grid-column: 3/4;
        grid-row: 2/4;
        background-color: darkseagreen;
        background-image: url("../multimedia/primerCompe.jpg");
        background-size: cover;
        background-position: center;
    }

    .img7 {
        grid-column: 4/5;
        grid-row: 2/4;
        background-color: darkseagreen;
        background-image: url("../multimedia/poleChina.jpg");
        background-size: cover;
        background-position: top;
    }

    .img8 {
        grid-column: 2/3;
        grid-row: 3/4;
        background-color: darkslategray;
        background-image: url("../multimedia/duplaEspania.jpg");
        background-size: cover;
        background-position: center;
    }
}

@media only screen and (max-width: 320px) {
    .containerContact {
        width: 95%;
        margin: 25px auto;
        height: 90%;
        padding: 15px;
    }

    .containerContact__Submit--input {
        width: 100%;
        padding: 10px 15px;
    }
}

@media only screen and (min-width: 321px) and (max-width: 479px) {
    .containerContact {
        width: 85%;
        margin: 25px auto;
        height: 90%;
        padding: 15px;
    }

    .containerContact__Submit--input {
        width: 100%;
        padding: 10px 25px;
    }
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
    .containerContact {
        width: 75%;
        margin: 25px auto;
        height: 90%;
        padding: 15px;
    }

    .containerContact__Submit--input {
        width: 100%;
        padding: 10px 35px;
    }
}