//Fuente
$fuente_principal: "Poppins",
sans-serif;

$font-sizes: (h1:48px,
    h2:36px,
    h6:18px,
    p:18px);

@each $tag,
$size in $font-sizes {
    #{$tag} {
        font-size: $size;
    }
}


//Colores
$color_titulos: brown;
$color_fondo: #e6b8a2;



//Sizes
$ancho: 100%;



//Mixins

@mixin menu {
    text-decoration: none;
    color: #9d6b53;
    font-family: 'Poppins', sans-serif;
    text-shadow: #f8edeb 1px 0 2px;
}